body {
    background-color:darkolivegreen
}

.board {
    display: flex;
    border: solid;
    flex-wrap: wrap;
    width: 480px;
    height: 800px;
}

.preview {
    display: flex;
    border: solid;
    flex-wrap: wrap;
    width: 160px;
    height: 160px;
}

.cell {
    width: 40px;
    height: 40px;
}

/* .subCell {
    width: 5px;
    height: 5px;
} */

.T {
    background-image: url('./T.png');
    background-size: cover;
}

.blue {
    background-color: darkblue;
}

.green {
    background-color: seagreen;
}

.yellow {
    background-color: yellow;
}

.white {
    background-color: #cdd6a7;
}

.L {
    background-image: url('./L.png');
    background-size: cover;
}

.square {
    background-image: url('./square.png');
    background-size: cover;
}

.Linv {
    background-image: url('./Linv.png');
    background-size: cover;
}

.S {
    background-image: url('./S.png');
    background-size: cover;
}

.Sinv {
    background-image: url('./Sinv.png');
    background-size: cover;
}

.brick {
    background-image: url('./brick.png');
    background-size: cover;
}

/* #cdd6a7
#8d9a64
#666e47
#363636 */