body {
    background-color:darkolivegreen
}

.board {
    display: flex;
    border: solid;
    flex-wrap: wrap;
    width: 240px;
    height: 400px;
}

.preview {
    display: flex;
    border: solid;
    flex-wrap: wrap;
    width: 80px;
    height: 80px;
}

.cell {
    width: 20px;
    height: 20px;
}

.red {
    background-color: darkred;
}

.blue {
    background-color: darkblue;
}

.green {
    background-color: seagreen;
}

.yellow {
    background-color: yellow;
}

.white {
    background-color: floralwhite;
}

.black {
    background-color: black;
}