body {
    background-color:#363636
}

.board {
    display: flex;
    border: solid;
    border-color: #cdd6a7;
    flex-wrap: wrap;
    width: 480px;
    height: 800px;
}

.shadowBoard {
    display: flex;
    border: solid;
    border-color: #cdd6a7;
    flex-wrap: wrap;
    width: 240px;
    height: 400px;
    margin: 50px;
}

.previewContainer {
    background-image: url('./images/preview.png');
    background-size: 200px, 200px;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 1px;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    height: 160px;
    margin-left: 20px;
    margin-top: 18px;
}

.panel {
    background-image: url('./images/panel.png');
    background-size: 180px, 100px;
    width: 180px;
    height: 81px;
    margin-left: 20px;
}

.panel > h1 {
    text-align: center;
    padding-top: 9px;
    padding-left: 6px
}

.score {
    background-image: url('./images/score.png');
    background-size: cover;
    width: 220px;
    height: 120px;
}

 .score > h1:first-of-type {
    text-align: center;
    padding-top: 10px; 
} 

 .score > h1 {
    text-align: right;
    padding-top: 12px;
} 

.cell {
    width: 40px;
    height: 40px;
}

.shadowCell {
    width: 20px;
    height: 20px;
}

.shadowPart {
    display: flex;
    flex-direction: row;
     align-items: center; 
    /* justify-content: space-around; */
}

/* .subCell {
    width: 5px;
    height: 5px;
} */

.T {
    background-image: url('./images/T.png');
    background-size: cover;
}

.blue {
    background-color: darkblue;
}

.green {
    background-color: seagreen;
}

.yellow {
    background-color: yellow;
}

.white {
    background-color: #cdd6a7;
}

.L {
    background-image: url('./images/L.png');
    background-size: cover;
}

.square {
    background-image: url('./images/square.png');
    background-size: cover;
}

.Linv {
    background-image: url('./images/Linv.png');
    background-size: cover;
}

.S {
    background-image: url('./images/S.png');
    background-size: cover;
}

.Sinv {
    background-image: url('./images/Sinv.png');
    background-size: cover;
}

.brick {
    background-image: url('./images/brick.png');
    background-size: cover;
}

.block {
    background-image: url('./images/block.png');
    background-size: cover;
}

.barTop {
    background-image: url('./images/barTop.png');
    background-size: cover;
}

.barMidV {
    background-image: url('./images/barMidV.png');
    background-size: cover;
}

.barBot {
    background-image: url('./images/barBot.png');
    background-size: cover;
}

.barLeft {
    background-image: url('./images/barLeft.png');
    background-size: cover;
}

.barMidH {
    background-image: url('./images/barMidH.png');
    background-size: cover;
}

.barRight {
    background-image: url('./images/barRight.png');
    background-size: cover;
}

.home {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    text-align: center;
    vertical-align: bottom;
}

.homeImage {
    height: 880px;
    background-image: url('./images/home42Huge.png');
    background-size: cover;
}

.homeMenu {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #cdd6a7;  
}

.homeButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.playerNameInput {
    width: 100%;
    font-size: 30px;
    background-color: #cdd6a7;
    border: none;
    text-align: center;  
}

.cursor {
    width: 20px; 
    height: 28px; 
    background-image: url('./images/cursor.png');
    opacity: 0;
    background-size: cover; 
}

.homeButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.homeButton > a {
    text-decoration: none;
}

.homeButton > div {
    margin-right: 10px; 
}

.homeButton:hover > .cursor{
    opacity: 1;
}

.mainView {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.boardMainPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* .shadowLeftPart {
    flex-direction: column;
    justify-content: space-around;
    
} */

@font-face {
    font-family: 'Super Mario Land (Game Boy)';
    src: url('./gameBoyFont.ttf');
}

* {
    font-family: 'Super Mario Land (Game Boy)';
    color: #363636
}
/* #cdd6a7
#8d9a64
#666e47
#363636 */
